h1{
    text-align: center;

}
img{
    width: 45%;
    margin-top: 5%;
    
}
.imagen2{
    width: 50%;
    
    
}
footer{
    bottom: 0px;
    background-color: brown;
    text-align: center;
    font-size: 200%;
    
    
}